*{
    margin: 0;
    padding: 0;

}

.model-1{
    background: url(/CSS/img/BG.jpg);
    background-position: center;
    background-size: cover;
}
/* .model-1 P:hover{
    color: tomato;
    font-weight: bold;
} */

.model-1{
    height: 600px;
}

.container-1{
    width: 88%;
    /* border: 1px solid black; */
    
    margin: auto;
    top: 100px;
    position: relative;

    
}


.part-1{
    width: 400px;
    left: 5%;
    position: relative;
    
    
}
.part-1 h6{
    color: red;
    line-height: 5;
    font-size: 13px;
}
.part-1 h1{
    font-size: 40px;
}
.part-1 p{
    font-size: 18px;
    margin: 25px 0;
}
.part-1 button{
    padding: 13px 25px;
    margin-right: 30px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    
}
/* .part-1 button a{
    text-decoration: none;
    color: white;
} */








.model-2{
    height: 300px;
    margin-top: 50px;
    /* border: 1px solid black; */
}







.container-2{
    text-align: center;
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
}

@media (max-width:990px){
    .container-2{
        width: 70%;
    }
}


@media (max-width:668px){
    .container-2{
        width: 80%;
    }
}
.container-2 ul li i{
    font-size: 70px;
    color: tomato;
    margin-bottom: 30px;
}
.container-2 .about{
    color: gray;
    font-size: 15px;
    line-height: 3;
    font-weight: bold;
}
.container-2 h1{
    font-size: 30px;
    margin-bottom: 15px;
    
}
.details{
    color: gray;
    text-align:center;

}
/* .container-2 button{
    margin-top: 35px;
    padding: 13px 30px;
    color: white;
    background-color:black;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    transition: 0.8s ease-in-out;
    cursor: pointer;

} */

    






.model-3{
    height: 600px;
}

.showing-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 100px;
    position: relative;
    place-items: center;
}

.showing-img img{
    width: 99%;
}







.populer{
    text-align: center;
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
}
.populer h1{
    color: tomato;
    font-size: 30px;
    line-height: 2;
}







.model-4{
    height: 680px;
}

.populer-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 68%;
    margin: auto;
    /* border: 1px solid black; */
    top: 50px;
    position: relative;
}
.card{
    
    width: 90%;
    margin: auto;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    /* border: 1px solid red; */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 5px 5px 40px rgb(212, 212, 212);
    
    
    
}
.card img{
    width: 100%;
    
}
.card h1{
    line-height: 3;
}
.card button, button{
    margin: 40px;
    padding: 13px 30px;
    background-color: transparent;
    border: 2px solid tomato;
    border-radius: 20px;
    font-weight: 700;
    transition: 0.8s ease-in-out;
}
button a{
    text-decoration: none;
    color: tomato;
}


button:hover{
    background-color: tomato;
    color: white;

}
button:hover a{
    
    color: white;

}
.card p{
    margin:0px 15px;
}









.main-form{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 35% 65%;
    /* grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto); */
    margin-top: 50px;
    /* border: 1px solid red; */
    background-color: rgb(248, 222, 212);
}
.form-img img{
    width: 100%;
}
.form-data{
    width: 100%;
    margin-top: 60px;
    margin-left: 50px;
    
}

.form-data input{
    width: 30%;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
}
.form-data .note{
    width: 82%;
}


/* section{
    border: 1px solid red;
} */



.procedure{
    margin-top: 100px;
}
















.touch{
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    /* border: 1px solid black; */
    margin-top: 80px;

}

.touch-icon{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    width: 80%;
    
}
.touch-icon p{
   margin-right: 20px;
   
    
}
.touch-icon p i{
    font-size: 40px;
    color: rgb(252, 91, 32);
    
     
 }


 .touch button{
     place-items: left;
     margin: 10px;
 }
 .coment input{
     width: 70%;
     padding: 10px 0;
     margin: 10px;
 }

 .personal-coment{
     height: 50px;
 }
 



#btn-part1{
    margin: 0%;
    margin-right: 10px;
    background-color: transparent;
    border: 2px solid tomato;
    border-radius: 10px;
    cursor: pointer;
}

#btn-part1:hover{
    background-color: tomato;
    color: white;
}
























@media (max-width:990px){
    .showing-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .model-3{
        height: 1050px;
    }
    .model-4{
        height: 2100px;
    }
    
    .populer{
        width: 90%;
        
    }
    .populer-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 68%;
        margin: auto;
        border: 1px solid black;
        top: 50px;
        position: relative; */
    }

    /* .model-6{
        height: 1700px;
    } */
    .main-form{
        grid-template-columns: repeat(1, 1fr);
        width: 99%;
        height: 700px;
        margin-top: 50px;
        padding-bottom: 50px;
    }   
    .main-form .form-img{
        height: 400px;
        overflow: hidden;
    }
    
    .touch{
        display: grid;
         grid-template-columns: repeat(1, 1fr);
        
    
    }
    
    
    
    
}

@media (max-width:668px){
    .showing-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .model-3{
        height: 1750px;
    }
    .populer{
        width: 68%;
        
        
    }
    .model-4{
        height: 1620px;
    }
    .main-form{
    height: 700px;
    } 
}